.DS_Store
*~

build/

*.pbxuser
*.perspective
*.perspectivev3

*.mode1v3
*.mode2v3

xcuserdata/

*.app

.vs/*
obj/*
bin/*.exe
bin/*.pdb
bin/*.dll
*.vcxproj.*
*.vcxproj
*.sln
*.rc
Makefile
config.make
*.so
bin/weihnachtsmarkt_fabrik_2023_debug